{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{deps, [
  lager,
  sync
]}.

{relx, [
  {release,
    {leaderboard, "0.1.0" },
    [
      sync,
      lager,
      leaderboard
    ]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, false},
  {include_erts, false},

  {extended_start_script, true},
  {overlay_vars, "./config/default.vars"},
  {overlay, [
    {template, "./config/vm.args.template", "./releases/{{release_version}}/vm.args"}
  ]}
]}.

{profiles, [
  {node1, [
    {relx,[
      {overlay_vars, "./config/node1.vars"}
    ]}
  ]},
  {node2, [
    {relx,[
      {overlay_vars, "./config/node2.vars"}
    ]}
  ]},
  {node3, [
    {relx,[
      {overlay_vars, "./config/node3.vars"}
    ]}
  ]}
]}.
